<!DOCTYPE html>
<html>
<head>
    <title>New Password</title>
</head>
<body style="text-align:center; margin-top:80px; font-family:Poppins;">

    <h2>Set New Password</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="password" name="password" placeholder="Enter new password" required
         style="padding:10px; width:250px; border-radius:8px;"><br><br>

        <button type="submit"
         style="padding:10px 20px; background:#ffe066; border:none; border-radius:8px; cursor:pointer;">
         Update Password
        </button>
    </form>

</body>
</html>
